 <div class="container">
        <section id="carouselprin" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <figure class="carousel-item active">
                <img class="d-block img-fluid" src="http://farm3.static.flickr.com/2103/2285949233_c0c6afc44c.jpg">
            </figure>
            <figure class="carousel-item">
                <img class="d-block" src="http://farm1.static.flickr.com/84/265500799_0a6d1a9c23.jpg" >
            </figure>
            <figure class="carousel-item">
                <img class="d-block img-fluid" src="http://farm2.static.flickr.com/1304/530133524_7e813c709e.jpg">
            </figure>
            <figure class="carousel-item">
                <img class="d-block img-fluid" src="http://farm4.static.flickr.com/3524/3266290971_9041c18bb2.jpg">
            </figure>
          </div>
        </section>
            <hr>
        <section class="card-columns">
            <aside class="card">
                    <header class="card-header">
                        Aritculo Especial
                        <figure>
                        <img class="card-img-top img-fluid" 
                             src="http://farm2.static.flickr.com/1304/530133524_7e813c709e.jpg">
                        </figure>
                    </header>
                    <div class="card-body">
                        <h3 class="card-title">
                            Arituclo Uno
                        </h3>
                        <p class="card-text">
                          Lorem Ipsum is simply dummy text of the printing and 
                          typesetting industry        
                        </p>
                    </div>
            </aside>
            <aside class="card">
                    <header class="card-header">
                        Aritculo Especial
                        <figure>
                        <img class="card-img-top img-fluid" 
                             src="http://farm4.static.flickr.com/3524/3266290971_9041c18bb2.jpg">
                        </figure>
                    </header>
                    <div class="card-body">
                        <h3 class="card-title">
                            Arituclo Dos
                        </h3>
                        <p class="card-text">
                          Lorem Ipsum is simply dummy text of the printing and 
                          typesetting industry         
                        </p>
                    </div>
            </aside>
            <aside class="card">
                    <header class="card-header">
                        Aritculo Especial
                        <figure>
                        <img class="card-img-top img-fluid" 
                             src="http://farm1.static.flickr.com/84/265500799_0a6d1a9c23.jpg">
                        </figure>
                    </header>
                    <div class="card-body">
                        <h3 class="card-title">
                            Arituclo Tres
                        </h3>
                        <p class="card-text">
                          Lorem Ipsum is simply dummy text of the printing and
                          typesetting industry. Lorem Ipsum has been the        
                        </p>
                    </div>
            </aside>
        </section>
       </div>
