<section>
        <div class="row">
            <div class="col-sm-12">
                <!--https://sp.depositphotos.com/102194540/stock-photo-who-we-are-question-doodle.html-->
                <img class="img-fluid mx-auto d-block" width="200px" src="assets/images/quienes_somos.jpg">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive mx-auto d-block" height="200px" src="assets/images/quienes_somos_body.png">
            </div>
            <div class="col-sm-4">
                <p class="text-justify">
                    Articulo App es una aplicación web para intercambiar artículos entre personas, 
                    ABCSoftware es la empresa encargada del desarrollo y manotenci&oacute;n del software,
                    Nos encargamos de la venta desarrollo y creaci&oacute;n de software para empresas,
                    organizaciones gobernamentales etc...
                </p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </section>
