<section class="container-fluid">
        <div class="row">
        	<div class="col-sm-2">
            	<a  class="btn btn-info" routerLink="registroarticulo">Gestion Artículo</a>
            </div>
            <div class="col-sm-8">
                <h2>Mi Perfil</h2>
                <form action="" onsubmit="">
                    <div class="row">
                        <div class="col-sm-4">
                            <figure>
                                <img class="img-thumbnail"
                                    src="https://img.icons8.com/ios/100/000000/gender-neutral-user-filled.png" width="100"
                                    height="100">
                                <figcaption>
                                    <label>Nombre Usuario</label>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nombre Usuario" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <select class="form-control" id="tipoIdentificacion">
                                            <option>CC</option>
                                            <option>CE</option>
                                            <option>PA</option>
                                            <option>RC</option>
                                            <option>TI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Número Identificación"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Dirección" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Telefono" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Contraseña" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirmar Contraseña"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Correo electronico"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Eliminar Cuenta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
