<section class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>Registro Articulo</h2>
                <form action="user" (ngSubmit)="recepcionForm(articuloformulario)"  #articuloformulario="ngForm" >
                    <div class="row">
                        <div class="col-sm-4">
                            <figure>
                                <img class="img-thumbnail"
                                    src="assets/images/pen_14403.png" width="100"
                                    height="100">
                                <figcaption>
                                    <label></label>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="articulo.arNombre" class="form-control" name="arNombre" placeholder="Nombre Articulo" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                     <div class="form-group">
                                        <select name="selec" [(ngModel)]="selec" class="form-control" >
                                            <option *ngFor="let opcio of tipos">{{opcio}}</option>
                                        </select>
                                    </div>
                                   
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="arFoto"  [(ngModel)]="articulo.arFoto"         class="form-control" pattern="((http|https):\/\/(\w.*))\.(jpeg|jpg|png|JPG|PNG)" placeholder="http:unaruta/imagen."
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                            <button type="submit"  [disabled]="!articuloformulario.form.valid"   class="btn btn-primary btn-block">Actualizar</button>
                                </div>
                                <div class="col-sm-6">
                         <button [disabled]="!articuloformulario.form.valid" (click)="eliminar=true"
                                     class="btn btn-primary btn-block">Eliminar Articulo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </section>