<div class="container row cuerpo">
	<div class="col-1"></div>
<section class="col-11">
	<h2>Solicitudes</h2>
	<div *ngIf="null != solicitudes">
	<div class="row" *ngFor="let solicitud of solicitudes; let in=index" >
	<aside class="card">
		<header class="card-header">
			<h3>codigo de solicitud</h3>
			<span>{{solicitud.soCodigo}}</span>
		</header>
		<div class="card-body">
			<p> <h4>estado</h4>
				<span>{{solicitud.soEstado}}</span>
				<h4>Tipo</h4>
				<span>{{solicitud.soTipo}}</span>
				<h4>Observacion</h4>
				<span>{{solicitud.soObservacion}}</span>
				<ul>
				<h4>{{solicitud.arIdArticuloRemitente.arNombre}}</h4>
				<li>{{solicitud.arIdArticuloRemitente.arNombre}}</li>
				<li>{{solicitud.arIdArticuloRemitente.arIderegistro}}</li>
				</ul>
					<ul>
				<h4>{{solicitud.arIdArticuloDestinatario.arNombre}}</h4>
				<li>{{solicitud.arIdArticuloDestinatario.arNombre}}</li>
				<li>{{solicitud.arIdArticuloDestinatario.arIderegistro}}</li>
				</ul>
			<a class="btn btn-primary">Ver Detalles	</a>
		</div>
	 </aside>
	</div>
	</div>
</section>
</div>