 <header>
        <!--
            Barra de navegacion con las lista de la barra de navegación
            -->
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand text-dark" target="_top" routerLink="">Articulo App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                	<li class="nav-item">
                        <a class="nav-link text-dark" target="_top" routerLink="quienes-somos">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" target="_top" *ngIf="isLogged" routerLink="user">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" target="_top" *ngIf="isLogged" routerLink="user/solicitudes">Mis Solicitudes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" target="_top" *ngIf="isLogged" routerLink="user/misarticulos">Mis Articulos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" target="_top" *ngIf="isLogged" routerLink="user/articulosdisponibles">Articulos Disponibles</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                    	{{isLogged}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" (click)="logout()"   target="_top" *ngIf="isLogged" routerLink="">Cerrar Sesi&oacute;n</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" target="_top" *ngIf="!isLogged" routerLink="login">Iniciar Sesi&oacute;n</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" target="_top" *ngIf="!isLogged" routerLink="registro">Registro</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
