<section class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Iniciar sesi&oacute;n</h2>
                <form action="" (ngSubmit)='login(useformulario)' #useformulario="ngForm">
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="usuario.usCorreo" id="usuario" placeholder="Usuario" name="usCorreo"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" [(ngModel)]="usuario.usPassword"  placeholder="Contraseña"
                            name="usPassword" required>
                    </div>
                    <button type="submit"  [disabled]="!useformulario.form.valid" class="btn btn-primary btn-block" >Iniciar sesi&oacute;n</button>
                    <br>
                    <div class="form-group">
                        <p class="text-center">
                            <a target="_top" routerLink="registro">Registrarse</a>
							&nbsp;
                            <a target="_top" routerLink="">Olvide Contraseña</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </section>
