<div class="container">
    <section class="card-columns" *ngIf="articulos.length > 0">        
    <aside class="card" *ngFor="let articulo of articulos">
            <header class="card-header">
                {{articulo.arNombre}}
                <figure>
                    <img class="card-img-top img-fluid" src={{articulo.arFoto}}>
                </figure>
            </header>
            <div class="card-body">
                <h3 class="card-title">
                    {{articulo.arNombre}}
                </h3>
                <p class="card-text">
                    Tipo articulo
                    {{articulo.arIderegistro}}
                </p>
                <button appManipula (click)="carga()" id={{articulo.arIderegistro}}  class="btn btn-primary stretched-link" data-toggle="modal"
                    data-target="#detalle">
                    Intercambiar
                </button>
            </div>
    </aside>
    </section>

    <div class="modal bd-example-modal-lg" id="detalle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{articuSelec1.arNombre}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="row">
                        <div class="col-12" style="text-align: center;" >
                            <figure>
                                <img class="img-fluid" src="{{articuSelec1.arFoto}}">
                                <figcaption>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--Adicionar en este label el resumen del articulo-->
                                    <label id="resumen">
                                        
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal" data-toggle="modal" data-target="#intercambiar">Intercambiar</button>
                        </div>
                        <div class="col-sm-1"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal bd-example-modal-lg" id="intercambiar">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Intercambio</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <ul class="nav nav-tabs nav-justified" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#articulos">Mi
                                        Art&iacute;culo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#recepcion">Recepci&oacute;n</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#resum">Resumen</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="articulos" role="tabpanel">
                                    <br>
                                    <section class="card-columns" *ngIf="aritulosdisp.length > 0">
                                        <aside class="card" *ngFor="let arti of aritulosdisp;
                                         let in=index">
                                            <header class="card-header">
                                                {{arti.arNombre}}
                                                <figure>
                                                    <span> {{arti.arIderegistro}}</span>
                                                    <img class="card-img-top img-fluid"
                                                        src="{{arti.arFoto}}">
                                                    <figcaption>
                                                    </figcaption>
                                                        <span> {{arti.arTip}}</span>
                                                </figure>
                                            </header>
                                            <button appManipula id="{{arti.arIderegistro}}" class="btn btn-primary"  (click)="evento()" > {{arti.arIderegistro}}</button>
                                                  <!--GENERAR UN EVENTO EN EL LCIK-->
                                        </aside>
                                    </section>
                                </div>
                                <div class="tab-pane" id="recepcion" role="tabpanel">
                                    <br>
                                    <form action="" onsubmit="">
                                        <div class="row">
                                            <div class="col-sm-1"> </div>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                placeholder="Departamento" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Ciudad"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                placeholder="Dirección" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                placeholder="Datos Adicionales" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Barrio"
                                                                required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1"> </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="resum" role="tabpanel">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-1"> </div>
                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!--Adicionar en este label el resumen de lo parametrizado en los otros tabs-->
                                                    <label  id="resumen">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label for="comment"><strong>Información
                                                                Adicional:</strong></label>
                                                        <textarea class="form-control" rows="3" id="comment"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input"
                                                                name="forregcheck" required>
                                                            <a href="TerminosCondiciones.html">Acepto terminos y
                                                                Condiciones</a>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" (click)="intercambiar()" class="btn btn-primary btn-block ">Enviar
                                                Solicitud</button>
                                        </div>
                                        <div class="col-sm-1"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-12">
                                    <figure>
                                        <img class="img-fluid" src="{{articuSelec1.arFoto}}">
                                        <figcaption>
                                            Artículo a dar
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" *ngIf="null != articuSelec2">
                                    <figure>
                                        <!--Se debe cargar la imagen del articulo seleccionado en el tab articulos-->
                                        <img class="img-fluid" src="{{articuSelec2.arFoto}}">
                                        <figcaption>
                                            Artículo a recibir
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>