<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>Registrarse</h2>
        <form action="" (ngSubmit)='registro(useformulario)' #useformulario="ngForm">
            <div #alert class="alert alert-danger alert-dismissible fade" role="alert">
                <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
                La contraseña y su confirmación no coinciden.
            </div>
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="usuario.usNombre" name="usNombre"
                    placeholder="Nombre Usuario" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="usuario.usPassword" name="usPassword"
                    placeholder="Contraseña" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="usuario.usRePassword" name="usRePassword"
                    placeholder="Confirmar Contraseña" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" [(ngModel)]="usuario.usCorreo" name="usCorreo"
                    placeholder="Correo electronico" required>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="forregcheck" required>
                    <a routerLink="">Terminos y Condiciones</a>
                </label>
            </div>
            <button type="submit" [disabled]="!useformulario.form.valid"
                class="btn btn-primary btn-block">Registrarse</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>