@media screen and (min-width: 300px) and (max-width: 800px) {
    .carousel-item{
        margin-left: 5%;  
    }
}
@media  screen and (min-width: 800px){
.carousel-item{
    margin-left: 30%;
    margin-right: -50%;  
    }
}


.navbar{
    background-color: #ff691a;
}


.footer{
    background-color: #401a07;
}
