<div class="container">
    <section class="card-columns" *ngIf="articulos.length > 0">        
    <aside class="card" *ngFor="let articulo of articulos">
            <header class="card-header">
                {{articulo.arNombre}}
                <figure>
                    <img class="card-img-top img-fluid" src={{articulo.arFoto}}>
                </figure>
            </header>
            <div class="card-body">
                <h3 class="card-title">
                    {{articulo.arNombre}}
                </h3>
                <p class="card-text">
                    Tipo articulo
                    {{articulo.arIderegistro}}
                </p>
                <button appManipula (click)="carga()" id={{articulo.arIderegistro}}  class="btn btn-primary stretched-link" data-toggle="modal"
                    data-target="#detalle">
                    Detalle
                </button>
            </div>
    </aside>
    </section>

    <div class="modal bd-example-modal-lg" id="detalle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{articuSelec1.arNombre}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <br>
                    <div class="row">
                        <div class="col-12" style="text-align: center;" >
                            <figure>
                                <img class="img-fluid" src="{{articuSelec1.arFoto}}">
                                <figcaption>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"> </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-12">
                                    <!--Adicionar en este label el resumen del articulo-->
                                    <label id="resumen">
                                        
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-1"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>